@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Work Sans", sans-serif;
}
/* universal style   */
/* * {
  margin: 0;
  padding: 0;
} */
/* shared style  */
.display-flex {
  display: flex;
}
/* dark 01  */
.text-bold-gray {
  color: rgb(19, 19, 19);
}

/* dark 02  */
.text-gray {
  color: rgb(66, 66, 66);
}
/* dark 03  */
.text-light-gray {
  color: rgb(114, 114, 114);
}

.header-container {
  background-color: rgba(255, 144, 14, 0.1);
}

.nav-bar {
  justify-content: space-between;
  align-items: center;
}
/* .nav-items {
  margin-right: 224px;
} */
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.brand {
  font-size: 3rem;
  font-weight: 700;
  /* margin-left: 224px; */
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
}
/* bannner style  */
.banner,
.nav-bar {
  max-width: 1440px;
  margin: 0 auto;
  /* background-color: rgba(255, 144, 14, 0.1); */
}
.banner-container {
  max-width: 850px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  font-size: 1rem;
  font-weight: 400;
}
.btn-primary {
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 8px;
  padding: 20px 25px;
  color: white;
  background: rgb(255, 144, 14);
  border: none;
}
.banner-image {
  width: 100%;
}
/* list of features part  */
.main-area {
  max-width: 1440px;
  margin: 0 auto;
}
.feature-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.feature-title {
  font-weight: 500;
  font-size: 2.8rem;
}
.feature-description {
  font-weight: 400;
  font-size: 1rem;
}
.list-of-features {
  margin-top: 85px;
  margin-bottom: 130px;
  align-items: center;
}
.features-contain {
  margin-left: 76px;
}

/* banner part responsive  */
@media screen and (max-width: 576px) {
  .nav-bar,
  .nav-items,
  .list-of-features {
    flex-direction: column;
  }
  .feature-image {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
}
