@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Work Sans", sans-serif;
}
/* universal style   */
/* * {
  margin: 0;
  padding: 0;
} */
/* shared style  */
.display-flex {
  display: flex;
}
/* dark 01  */
.text-bold-gray {
  color: rgb(19, 19, 19);
}

/* dark 02  */
.text-gray {
  color: rgb(66, 66, 66);
}
/* dark 03  */
.text-light-gray {
  color: rgb(114, 114, 114);
}

.header-container {
  background-color: rgba(255, 144, 14, 0.1);
}

.nav-bar {
  justify-content: space-between;
  align-items: center;
}
/* .nav-items {
  margin-right: 224px;
} */
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.brand {
  font-size: 3rem;
  font-weight: 700;
  /* margin-left: 224px; */
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
}
/* bannner style  */
.banner,
.nav-bar {
  max-width: 1440px;
  margin: 0 auto;
  /* background-color: rgba(255, 144, 14, 0.1); */
}
.banner-container {
  max-width: 850px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  font-size: 1rem;
  font-weight: 400;
}
.btn-primary {
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 8px;
  padding: 20px 25px;
  color: white;
  background: rgb(255, 144, 14);
  border: none;
}
.banner-image {
  width: 100%;
}
/* list of features part  */
.main-area {
  max-width: 1440px;
  margin: 0 auto;
}
.feature-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.feature-title {
  font-weight: 500;
  font-size: 2.8rem;
}
.feature-description {
  font-weight: 400;
  font-size: 1rem;
}
.list-of-features {
  margin-top: 85px;
  margin-bottom: 130px;
  align-items: center;
}
.features-contain {
  margin-left: 76px;
}
/* <!-- features you will enjoy  --> */
.enjoy-title {
  font-weight: 700;
  font-size: 2.8rem;
  border-left: 5px solid rgb(255, 144, 14);
}

.girl-architect {
  width: 100%;
}
.enjoy-features-content {
  max-width: 586px;
  margin-right: 146px;
}
.feature-card {
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  margin-bottom: 30px;
  margin-top: 40px;
}
.title-feature {
  font-weight: 600;
  font-size: 1.5rem;
}
.title-details {
  font-weight: 400;
  font-size: 1rem;
  padding-top: 15px;
  padding-bottom: 20px;
}
#exclusive-button {
  /* max-width: 342px; */
  padding: 45px 42px;
  /* height: 200px; */
  margin-left: -100px;
  margin-top: -100px;
}
#Experience {
  font-size: 1.5rem;
  font-weight: 500;
}
.big-title {
  font-weight: 700;
  font-size: 4rem;
}
/* <!-- some facts  section -->  */
.fact-title {
  font-weight: 700;
  font-size: 2.8rem;
}
.fact-details {
  font-weight: 400;
  font-size: 1rem;
}
.card-box {
  box-sizing: border-box;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  width: 240px;
  height: 240px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.card-of-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-achieve {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
}
/* sponsor part  */
.sponsor-details {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}
.sponsor-title {
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.sponsors-logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  margin-top: 63px;
  margin-left: 100px;
  filter: grayscale(100%);
}
/* footer section  
*/
footer {
  background-color: rgb(255, 244, 231);
  margin-top: 50px;
}
footer > p {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  padding: 39px;
}
/* small device responsive  */
@media screen and (max-width: 576px) {
  .nav-bar,
  .nav-items,
  .list-of-features,
  .enjoy-feature {
    flex-direction: column;
  }
  .feature-image {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
  .enjoy-features-content {
    width: 100%;
  }
  #exclusive-button {
    margin-top: 20px;
    margin-left: 20px;
  }
  .card-of-info {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 60px;
    gap: 10px;
  }
  .sponsors-logo {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
}
